  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <table class="table" *ngIf ='users && users.length'>
        <thead>
          <tr>
            <th class="col-md-3 text-center">Nom</th>
            <th class="col-md-3 text-center">Prénom</th>
            <th class="col-md-3 text-center"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor ='let user of users'>
            <td class="text-center">{{ user.nom }}</td>
            <td class="text-center">{{ user.prenom }}</td>
            <td class="text-center"><a href="" class="btn btn-danger btn-xs"><i class="fa fa-trash" aria-hidden="true"></i> Supprimer</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>