  <div class="row">
    <div class="col-md-6 col-md-offset-3" align-self-center>
      <form method="post" action="http://localhost/pressinnov-pack/API/public/user/add/" #form="ngForm" (ngSubmit)="onSubmit(form.value)">
        <div class="form-group">
          <label for="nom">Nom :</label>
          <input class="form-control" type="text" name="nom" id="nom" placeholder="Nom" [(ngModel)] ='nom' >
        </div>
        <div class="form-group">
          <label for="prenom">Prénom</label>
          <input class="form-control" type="text" name="prenom" id="prenom" placeholder="Prénom" [(ngModel)] ='prenom' >
        </div>
        <button type="submit" (click) ="submitPost()" class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"></i> Ajouter</button>
      </form>
    </div>
  </div>